<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="final.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- jQuery/jQueryUI (hosted) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/base/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="scripts/final.js"></script>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <audio id='beat0' src="<%= band[0][0] %>"></audio>
    <audio id='beat1' src="<%= band[1][0] %>"></audio>
    <audio id='beat2' src="<%= band[2][0] %>"></audio>
    <audio id='beat3' src="<%= band[3][0] %>"></audio>

    <h1 class="text-center" style="font-size: 7vw">Hear your beat!</h1>

    <div style="background-image: url('images/final.jpg'); background-size:cover;  width: 100vw">
      <div class="row">
        <div class="text-center col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <img src="<%= band[0][1] %>" id="bass" style="width: 100%;"><br><br>
          <div class="panel">
              <div id="slider0"></div>
              <h2>
                  Volume: <span id="volume0">50</span>
              </h2>
          </div>
        </div>
        <div class="text-center col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <img src="<%= band[1][1] %>" id="drums" style="width: 100%;"><br><br>
          <div class="panel">
              <div id="slider1"></div>
              <h2>
                  Volume: <span id="volume1">50</span>
              </h2>
          </div>
        </div>
        <div class="text-center col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <img src="<%= band[2][1] %>" id="sample" style="width: 100%;"><br><br>
          <div class="panel">
              <div id="slider2"></div>
              <h2>
                  Volume: <span id="volume2">50</span>
              </h2>
          </div>
        </div>
        <div class="text-center col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <img src="<%= band[3][1] %>" id="keyboard" style="width: 100%;"><br><br>
          <div class="panel">
              <div id="slider3"></div>
              <h2>
                  Volume: <span id="volume3">50</span>
              </h2>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <!-- <button class="btn btn-default" type="button" id="button">Play</button> -->
        <button type="button" id="button" class="btn btn-default"><div id="toggle"><i class="fas fa-play-circle"></i></div></button><br><br><br><br><br><br><br>

      </div>
    </div>


  </body>
  <script>



  </script>
</html>
